upstream tvheadend {
  server 127.0.0.1:{{ tvheadend_port }};
}

server {
  listen 80;
  server_name {{ tvheadend_server_name }};

  allow {{ tvheadend_allowed_network }};
  allow 127.0.0.1;
  deny all;

  location / {
    proxy_pass http://tvheadend;
    proxy_http_version 1.1;
    proxy_buffering off;
    proxy_set_header X-Real-IP  $remote_addr;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $remote_addr;
  }
}
